body{
   margin: 0px; padding: 0px; box-sizing: border-box;
   font-family:Arial, Helvetica, sans-serif;
   background-color: rgb(240, 248, 255);
   direction: rtl;
}

.messagesCon{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
   gap: 15px;
   padding: 10px;
}
.messagesCon .message{
   background-color: #a4d4f2;
   text-align: center;
   justify-content: center;
   width: 100%;
   height: 120px;
   border-radius: 15px 0px 15px 0px;
   cursor: pointer;
   border: 1px solid black;
}
.message {
   display: flex;
   justify-content: center;
   align-items: center;
}

.messagesPopup{
   display: none;
   justify-content: flex-start;
   flex-direction: column;
}
.messagesPopup p{
   margin: 10px;
}
.messageBox{
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   width: 85vw;
   height: 100%;
   margin-top: 50px;
   background-color: rgba(175, 238, 238, 0.5);
   border-radius: 20px 0px 20px 0px;
   border: 1px solid black;
   box-sizing: border-box;
   margin-bottom: 20px;
   padding-bottom: 10px;
}

.close{
   font-size: 40px;
   position: absolute;
   left: 20px;
   margin-top: 5px;
}

#titlePopup{
   font-size: 20px;
   text-decoration:underline;
   text-underline-offset: 3px;
   font-weight: bold;
}